
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .pokemon-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  #name {
    font-weight: bold;
    margin-top: 5px;
  }
  
  #pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  #previous,
  #next {
    margin: 0 5px;
  }
  